*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    margin: 0%;
    background-color: olivedrab;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: darkslateblue;
    color: yellow;
    height: 15vh;
    position: fixed;
    z-index: 2;
     
}

main h2{
    font-size: 35px;
    margin-top: 145px;
}

main p{
    font-size: 20px;
}

main{
    padding: 0px 100px;
    padding-top: 15vh;

}

nav{
    width: 50%;
    display: flex;
    align-items: center;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#galeria-container > img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}

#galeria-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 400px 400px;
    column-gap: 10px;
    row-gap: 20px;
}

#galeria-container > img:hover{
    filter: brightness(0.2);
}

#sobre-mi{
    margin-top: 145px;
    display: flex;
    justify-content: space-between;
}

#sobre-mi > img {
    width: 200px;
    margin-top: auto;
}

#sobre-mi > div{
    width: 70%;
}

form{
    width: 90%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

form > input{
    height: 40px;
    border-radius: 30px;
    border: solid 1px black;
    width: 90%;
}

textarea{
    border-radius: 10px;
    border: solid black;
    width: 100%;
}

input[type=submit]{
    width: 200px;
    background-color: darkgray;
    color: black;
}

#contacto{
    margin-top: 250px;
    display: flex;
    justify-content: space-between;
}

#contacto > div{
width: 50%;
}

footer{
    width: 100%;
    background-color: darkgray;
    color: black;
    height: 15vh;
    justify-content: center;
    align-content: center;
    display: flex;  
    margin-top: 250px;

}

footer > p{
    display: flex;
    align-items: center;
}

